node_modules/

.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Build folder
dist/

# MacOS
.DS_Store

# Node-wrapped TypeScript executables
npm-debug.log
yarn-debug.log
yarn-error.log

# Coverage directory for testing frameworks (like Jest)
coverage/

# exclude VS Code workspace settings (if using VS Code)
.vscode/

# Ignore compiled JavaScript files if you're building them from TypeScript
*.js
*.js.map

# Ignore any local temporary data
.tmp/

# Ignore all txt files
*.txt